{% extends "base.html" %}
{% block content %}
    <div class='article'>
        <div class="content-title">
            <h1>{{ article.title }}</h1>
            {% include "metadata.html" %}
        </div>
	
        <div id="fb-root"></div>

        <div class="fb-like" data-send="true" data-width="450"
            data-show-faces="false" data-font="arial"></div>

        <div>
            {{ article.content }}

            <br />
            <em>Ha tetszett, lájkolj minket
            <a href="https://facebook.com/Emeljblog">Facebookon</a>, vagy
            kövess <a href="https://twitter.com/emeljblog">Twitteren</a>
            is!</em>
        </div>
	
        <hr>
    	   
        <h2>Comments</h2>
	{% include "twitter.html" %}
	{% include 'disqus.html' %}
    </div>
{% endblock %}
